
    h1 {

      font-size: 40px;
      text-align: center;
      color: #FFFFFF;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif.;

    }
    .titlebg{
      background: #17a2b8;
      padding: 30px;
    }
    .bodyInfo {
      margin-top: 30px;
      border-style: groove;
      text-align: center;
      float: left;
      width: 50%;
      margin-left: 50px;
    }

    .picInfo {
      margin-top: 30px;
      margin-right: 200px;
      float:right;
      width: 30%;
    }

    #profilePic {
      width:400px;
      height: 400px;
      margin-right: : 100px;
      margin-top: : 30px;
    }
