#coins {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#first {
  display:block;
  float:left;
}

#second {
  display:block;
  float:left;

}

#third {
  display:block;
  float:left;

}




display:block;
float:left;
