#coins {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#first {
  display:block;
  float:left;
  padding: 30px;
}

#second {
  display:block;
  float:left;
  padding: 30px;
}

#third {
  display:block;
  float:left;
  padding: 30px;
}




display:block;
float:left;
